@model Tuple<Person, PFR>

<table class="table table-bordered table-striped" >
    <thead>
        <tr>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>День рождения</td>
            <td>Снилс</td>
            <td>Период</td>
            <td>Cумма</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Item1.LastName</td>
            <td>@Model.Item1.Name</td>
            <td>@Model.Item1.MiddleName</td>
            <td>@Model.Item1.Birthday</td>
            <td>@Model.Item1.Snils</td>
            @if (Model.Item2 == null)
            {
                <td>Отсутствует</td>
                <td>Отсутствует</td>
            }
            else
            {
                <td>@Model.Item2.Sum</td>
                <td>@Model.Item2.Perio</td>
            }
        </tr>
    </tbody>
</table>